:root {
  --max_logo_width: 300px; 
  --max_semicircle_width: 200px;
  --max_circle_width: 200px;
  --max_button_width: 390px;
  --copyright_height: 200px;
}

* {
	box-sizing:border-box;
	
}

.row::after {
  content: "";
  clear: both;
  display: table;

}

img.logo {
    margin-left:0px; 
    margin-top:0px;
    margin-right:auto;
    display: block;
    /*border: 3px solid green;*/
    /*width:65%;*/
    max-width: var(--max_logo_width);
  }
img.booking_button{
  display:block;
    margin-left:0px;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:60px;
    width:100%;
    width: var(--max_button_width);

  }


  div.doctor_text{
    padding-top:90px;
    padding-bottom:35px;
    font-size:52pt;
    line-height: 50pt;
    font-family: 'QuincyCF-Medium';
    color:#0A2636;
    width:var(--max_button_width);
    
  }
img.background_semicircle {
	margin-left:auto; 
    margin-right:0px;
    margin-bottom: 0px;
    display: block;
    /*border: 3px solid green;*/
    width:50%;
     max-width: var(--max_semicircle_width);
}
  img.bottom {
  	margin-left:auto; 
    margin-top:75px;
    margin-right:0px;
    margin-bottom:0px;
    display: block;
    /*border: 3px solid green;*/
    width:205px;
  }

 
  img.red_circle {
  	display:block;
    padding-top:30px;
  	margin-left:auto;
  	margin-right:0px;
  	max-width: var(--max_semicircle_width);
  }

  div.bg_circle{
	/*width:50%;  	*/
	padding:0px;
	/*max-width: var(--max_semicircle_width);*/
  }
  div.copyright{
  	font-size: 10.5pt;
  	font-family: 'Jost-Medium';
  	letter-spacing: 1px;
  	color:#0A2636;
  	width:100%;
  	background-color:#255ED6;
    padding: 70px;
    padding-top: 90px;
    padding-bottom: 90px;
    /*height:100%;*/
	text-align: center;
	color:#ffffff;

	}


  div.welcome{
  	/*margin-top:60px;*/
  	margin-bottom:0px;
  	font-size: 22pt;
  	font-family: 'QuincyCF-Medium';
  	color:#A0A0A0;
  	margin-top:auto;
  	height:100%;
  }

  div.padded {
  	padding-left:10%;
  	padding-right:10%;
  }

/*for mobile */
[class*="col-"] {
	float: left;
  	/*padding-left: 65px;*/
  	/*padding-right:65px;*/
 	width:100%;
  /*border:2px solid red;*/
}

@media only screen and (min-width: 750px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}/*background-color:yellow;}*/
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}/*background-color:yellow;}*/
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  /*div.doctor_text{
		font-size:48pt;
	}*/
/*div.welcome{
	padding-top: 25%;
}*/

img.red_circle {

    max-width: var(--max_semicircle_width);
}
}

@media only screen and (min-width:950px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;} /*background-color:red;}*/
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%; height:100%;}
	div.doctor_text{
		padding-right:10px;
	}
	div.copyright{
		padding: 70px;
    	/*padding-top: 90px;*/
    	/*padding-bottom: 90px;*/
    	min-width: 400px;
    	/*text-align: vcenter*/
    	height: var(--copyright_height);
	}
	img.red_circle {
		max-width: var(--copyright_height);
    padding-top: 0px;
	}
}
 
body {
  background-color: #ffffff;
  /*background-image: url("images/top_right_semi_circle_large.png");*/
  background-repeat: no-re/*peat;
  background-position: right top;
  background-size: 50%;*/
  width:100%;
  /*border:1px solid blue;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
}

  div.button_holder{
  	/*width: 600px;*/
  	/*margin-left:auto;*/
  	/*margin-right:auto;*/
  	
  }

/*  div.middle{
  	margin-left:auto;
  	margin-right:auto;
  	width: 75%;*/
  	/*margin:0;*/
  	/*border: 3px solid red;*/
  /*}*/
